<div>
<%= form_with(model: [@post, Comment.new], url: user_post_comments_path(@post.author, @post), local: true, html: { class: "form" }) do |form| %>
  <div>   
      <%= form.label :text %>
      <%= form.text_area :text %>
    </div>

    <div>   
      <%= form.submit 'Create Comment' %>
    </div>
  <% end %>
</div>
