<h1>Posts for a User</h1>
<section>
<%= render partial: "shared/user_partial", locals: { user: @user || "No user found" } %>
<% @posts.each do |post| %>
  <div class="container bg-light border rounded mt-3">
  <span >
    <%= render partial: 'shared/post_partial', locals: { post: post } %>
  </span>
    <% post.recent_comments.each do |comment| %>
      <%= render partial: 'shared/recent_comment_partial', locals: { comment: comment } %>
    <% end %>
  </div>
<% end %>
  <button type="button" class="col-4 btn btn-success mt-3 p-2 align-self-center"><< Pagination >></button> 
</section>