
.user_img {
  width: 30px;
  height: 30px;
  display: flex;
}

.user-img-content {
  width: 50%;
  align-self: center;
  border-radius: 20%;
}

.border-success {
  border: 2px solid;
  padding: 20%;
}

.like-counter {
  margin-left: 8px;
}

.bio-contianer {
  margin-bottom: 12px;
}

.post-content {
  margin-bottom: 12px;
}

.mx-2,
.post-number,
.like-form,
.like-counter,
.post-content {
  color: black;
}

.mx-2:hover,
.post-number:hover,
.like-form:hover,
.like-counter:hover,
.post-content :hover {
  color: rgba(46, 126, 160, 0.975);
  text-decoration: none;
}
