<nav class="navbar navbar-expand-lg bg-light navbar-light">
  <div class="container-fluid d-flex">
    <a class="navbar-brand" href="#">Blog-App</a>
    </button>
    <div class="d-flex" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Posts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Log-in</a></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign-out</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex ms-auto" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>